services:
  mysqldb:
    image: mysql:8.0
    container_name: mysql_server
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: kyulee
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    volumes:
      - ./mysql_data:/var/lib/mysql
