body {
    text-align: center;
    background-color: #fafafa;
}

h2 {
    color: #20c997;
    margin-top: 50px;
}

form {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ddd;
    background: white;
}

input {
    margin: 5px;
}

.btn {
    background: #20c997;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
}